{% extends "app/base.html" %}

    {% block triggers %}
    <div class="jumbotron">
      <div class="container">
        <h1>Your triggers</h1>
        <p>This is a list of all the triggers that you've created. Press the plus button to add a new one!</p>
      </div>
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1"></div>
    </div>

    <div class="container">
    <ul class="list-group">
    <li class="list-group-item clearfix">
        <span >
        <span class="pull-right">
        <button onclick="window.location='{% url 'new-trigger-wizard' %}'" type="button" class="btn btn-sm btn-default">Add trigger</button>
        </span>
        </span>
    </li>
    {% for object in object_list %}
      
    <a href="#" class="list-group-item"><span class="badge">{{ object.created }}</span> {{ object.name }}</a>

    {% empty %}
    <a href="#" class="list-group-item">You do not have any triggers yet! Add a new one to begin.</a>


    {% endfor %}
    </ul>

    {% endblock %}
